<header (selectedValueChange)="handleSelectedValue($event)" [selected]="selectedSection"></header>

@switch (selectedSection) {
  @case(CourseSections.ComponentCoreDirectives) {
    <div class="courses">

      <h2 *ngIf="courses.length > 0">There are {{courses.length}} courses available</h2>

      @for (course of courses; track trackCourse;
            let index = $index;
            let count = $count;
            let first = $first;
            let last = $last;
            let even = $even;
            let odd = $odd;) {
        <course-card (courseSelected)="onCourseSelected($event)"
        [index]="index" [course]="course" [count]="count"
        [class.is-even]="even" [class.is-odd]="odd"
        [class.is-first]="first" [class.is-last]="last"/>
      }

      @empty {
        <h2>No Courses found!</h2>
      }

    </div>

    <div class="wrapper mb-20">
      <p>Although the new syntax for core directives is encouraged, the old syntax is still permitted.</p>
      <code>&lt;div class=&quot;courses&quot;&gt;</code><br/>
      <code>&nbsp;&nbsp;&lt;course-card (courseSelected)=&quot;onCourseSelected(&#36;event)&quot; *ngFor=&quot;let course of courses let index = index; let count = count; let first = first; let last = last; let even = even; let odd = odd;&quot;</code><br/>
      <code>&nbsp;&nbsp;&nbsp;&nbsp;[index]=&quot;index&quot; [course]=&quot;course&quot; [count]=&quot;count&quot;</code><br/>
      <code>&nbsp;&nbsp;&nbsp;&nbsp;[class.is-even]=&quot;even&quot; [class.is-odd]=&quot;odd&quot;</code><br/>
      <code>&nbsp;&nbsp;&nbsp;&nbsp;[class.is-first]=&quot;first&quot; [class.is-last]=&quot;last&quot;/&gt;</code><br/>
      <code>&lt;/div&gt;</code>
    </div>

    <div class="wrapper mb-20">
      <p>
        The choice between using the traditional *ngIf and the newer &#64;if syntax in Angular depends on several factors such as the version of Angular you're using, your team's familiarity with Angular, and the specific needs of your project.
      </p>
      <h5>Traditional *ngIf Directive</h5>
      <ul>
        <li>
          <strong>Compatibility</strong>: Works with all versions of Angular. It's widely used and well-documented.
        </li>
        <li>
          <strong>Flexibility</strong>: Allows complex expressions directly in the template and can be combined easily with other directives.
        </li>
        <li>
          <strong>Community Support</strong>: Since it's been around for longer, there are more resources, examples, and community knowledge available.
        </li>
      </ul>
      <h5>New &#64;if Syntax (Introduced in Angular 18)</h5>
      <ul>
        <li>
          <strong>Simplicity and Readability</strong>: The syntax is more intuitive, especially for developers with a background in other programming languages that use similar conditional syntax.
        </li>
        <li>
          <strong>Cleaner Templates</strong>: Reduces the syntactic noise in templates by eliminating the need for the asterisk * and making conditionals look more like standard JavaScript.
        </li>
        <li>
          <strong>Modern Approach</strong>: As Angular evolves, this syntax might become the standard in future versions, suggesting a forward-looking approach.
        </li>
      </ul>
      <h5>Recommendations</h5>
      <ol>
        <li>
          <strong>New Projects on Angular 18+</strong>:  If you're starting a new project with Angular 18 or later, consider using the &#64;if syntax for its simplicity and modern approach. It could help future-proof your project and align with Angular's evolving standards.
        </li>
        <li>
          <strong>Existing Projects or Lower Versions</strong>: Continue using *ngIf for projects that are on older versions of Angular or where you have a large base of existing code that uses *ngIf. Transitioning to &#64;f could introduce inconsistency and require additional refactoring.
        </li>
        <li>
          <strong>Team Expertise</strong>: Consider the familiarity and comfort level of your development team with Angular. If your team is more comfortable with the traditional *ngIf, the benefits of switching might not outweigh the costs of the learning curve.
        </li>
      </ol>
      <p>
        Ultimately, the best practice would depend on your specific situation. Both directives are supported and recommended, depending on the context and requirements of your project. Always ensure that whatever choice you make aligns with your team's skills, project's Angular version, and future maintenance plans. Here's a link to the Angular documentation for a deeper dive into these directives
      </p>
    </div>

  }

  @case(CourseSections.PipesExamples) {
    <div class="courses">
      <h2>Pipes examples</h2>
      <p>Date pipe MMM dd yyyy format: {{startDate | date: 'MMM dd yyyy'}}</p>
      <hr>
      <p>Currency pipe ARS$ format: {{ price }} | {{ price | currency: 'ARS$' }}</p>
      <hr>
      <p>Percentage {{rate}} | {{ rate | percent }}</p>
      <hr>
      <p>There are also pipes to handle arrays like passing slice or json</p>
      <hr>
      <p>For handling objects we could use <em><strong>keyvalue</strong></em></p>
      @for (pair of courseObj | keyvalue; track pair.id) {
        <div><em>{{ pair. key }}</em>: <strong>{{pair.value}}</strong></div>
      }
    </div>
  }

  @case (CourseSections.ViewChild) {
    <div class="courses" #container>
      <course-card #cardRef1 (courseSelected)="onCourseSelected($event)" [course]="courses[1]"/>
      <course-card #cardRef2 (courseSelected)="onCourseSelected($event)" [course]="courses[2]"/>
      <p>The <code>&#64;ViewChild</code> decorator is used to access a child component, directive, or DOM element from
        the parent component class.</p>
      <p><code>&#64;ViewChild(&#39;container&#39;) container: ElementRef;</code>:</p>
      <p>This line declares a property named <code>container</code> of type <code>ElementRef</code>. The
        <code>&#64;ViewChild</code> decorator is used to query the template for an element with the template reference
        variable <code>&#35;container</code>. The <code>ElementRef</code> type provides a way to directly interact with
        the DOM element, allowing you to manipulate it or read its properties.</p>
      <p><code>&#64;ViewChild(&#39;cardRef1&#39;) cardComponent: CourseCardComponent;</code>:</p>
      <p>Here, the <code>&#64;ViewChild</code> decorator is used to query the template for an element with the template
        reference variable <code>&#35;cardRef1</code>. The <code>cardComponent</code> property is of type
        <code>CourseCardComponent</code>, which means it will hold a reference to the instance of the
        <code>CourseCardComponent</code> class. This allows you to call methods or access properties of the
        <code>CourseCardComponent</code> directly from the parent component.</p>
      <p><code>&#64;ViewChild(&#39;cardRef2&#39;, &#123;read: ElementRef&#125;) cardElementRef: ElementRef;</code>:</p>
      <p>This line uses the <code>&#64;ViewChild</code> decorator to query the template for an element with the template
        reference variable <code>&#35;cardRef2</code>. The <code>&#123;read: ElementRef&#125;</code> option specifies
        that the <code>ElementRef</code> of the element should be injected, rather than the component instance. This is
        useful when you need to interact with the DOM element itself rather than the Angular component.</p>
      <p>In summary, the <code>&#64;ViewChild</code> decorator is a powerful feature in Angular that allows you to
        access and interact with child components or DOM elements directly from the parent component class. This can be
        particularly useful for tasks such as manipulating the DOM, calling methods on child components, or reading
        properties from child components.</p>
      <p>If you need to access the data with any Angular lifecicle, ngAfterViewInit is the best choice, since it will have all the data rendered on the element linked to the <code>&#64;ViewChild</code> decorator, however, is not advised to edit the data on that cycle, ex: <code>this.courses&#91;1&#93;.description &#61; &#39;test&#39;</code> since it will must certainly cause the common error: <code [style.color]="'red'">ERROR RuntimeError: NG0100: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'RxJs In Practice Course'. Current value: 'test'</code></p>
      <p>Is important to understand that the template querying is restricted to the template itself, we can't query a reference inside a template from another component inside the main component.</p>
    </div>
  }

  @case(CourseSections.ViewChildren) {
    <div class="courses">
      <button (click)="onCoursesEdited()">Add Course</button>
      @for (course of courses; track trackCourse;
            let index = $index;
            let count = $count;
            let first = $first;
            let last = $last;
            let even = $even;
            let odd = $odd;) {
        <course-card (courseSelected)="onCourseSelected($event)"
        [index]="index" [course]="course" [count]="count"/>
      }

    </div>
  }

  @case (CourseSections.ContentProjection) {
    @if(courses[1]; as course) {
      <div class="courses">
        <course-card (courseSelected)="onCourseSelected($event)"
                      [course]="course"
                      [contentProjectionToggle]="contentProjectionToggle">
          <div class="course-image" #courseImage>
            <p>#courseImage</p>
            <img [src]="course.iconUrl" alt="Angular Logo" width="300">
          </div>
          <button class="btn" #btn (click)="onToggle()">Toggle content</button>
        </course-card>
      </div>
    }
    <div class="wrapper mb-20">
      <p>The following example uses <code>&#64;ContentChild</code> decorator. This decorator is used to query and reference a child element or component that is projected into the component using content projection (i.e., <code>&#60;ng-content&#62;</code>).</p>

      <p><code>&#64;ContentChild(&#39;courseImage&#39;)</code></p>

      <p>The <code>&#64;ContentChild</code> decorator is used to query the projected content for an element or component with the template reference variable <code>&#35;courseImage</code>. This means that the parent component can pass content to this component, and the <code>&#64;ContentChild</code> decorator will look for an element with the specified reference within that projected content.</p>

      <p><strong>Key Points about the Scope of <code>&#64;ContentChild</code></strong></p>

      <p><strong>Content Projection:</strong></p>

      <p><code>&#64;ContentChild</code> is specifically designed to work with content projection. It queries elements or components that are passed into the component via <code>&#60;ng-content&#62;</code> slots.</p>

      <p><strong>Single Element or Component:</strong></p>

      <p><code>&#64;ContentChild</code> retrieves a single element or component that matches the selector. If multiple elements or components match the selector, only the first one is returned.</p>

      <p><strong>Template Reference Variables:</strong></p>

      <p>The selector used with <code>&#64;ContentChild</code> can be a template reference variable (e.g., <code>&#35;myElement</code>), a component type, or a directive type.</p>

      <p><strong>Lifecycle Hook:</strong></p>

      <p>The queried element or component is available after the content has been projected and initialized, which is typically done in the <code>ngAfterContentInit</code> lifecycle hook.</p>

    </div>
  }
}



